<!-- Composant : Soumet un devoir -->
<!-- Description : Ce composant permet de soumettre un devoir -->

<!-- Chargement-->
<mat-progress-bar
  *ngIf="isLoading"
  mode="indeterminate"
  class="progress-bar"
></mat-progress-bar>

<div *ngIf="!isLoading" class="center">
  <mat-card class="center">
    <mat-card-title>Envoyer un devoir</mat-card-title>
    <mat-card-subtitle> {{ assignmentTarget?.title }} </mat-card-subtitle>
    <!-- Description -->
    <p>
      <b>Description :</b>
      {{ assignmentTarget?.description }}
    </p>
    <!-- Date limite -->
    <p>
      <b>Date limite :</b>
      {{ assignmentTarget?.dueDate | date : "dd/MM/yyyy" }}
    </p>
    <!-- Matiere -->
    <p>
      <b>Matière :</b>
      {{ subjectTarget?.name }}
    </p>
    <mat-card-content>
      <form [formGroup]="submitForm" (submit)="submit()">
        <!-- Le fichier -->
        <mat-form-field>
          <ngx-mat-file-input
            class="center"
            #file
            matInput
            placeholder="Fichier"
            formControlName="fileCtrl"
            [multiple]="false"
            [accept]="'.pdf,.doc,.docx,.txt,.jpg,.jpeg,.png,.gif,.zip'"
          ></ngx-mat-file-input>
        </mat-form-field>
        <mat-hint>
          Formats acceptés : .pdf, .doc, .docx, .txt, .jpg, .jpeg, .png, .gif,
          .zip
        </mat-hint>
        <button
          mat-raised-button
          mat
          color="primary"
          type="submit"
          [disabled]="!submitForm.valid"
        >
          Envoyer
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
