<h1>Liste des devoirs a rendre</h1>

<!-- Add a filter for the table on assignment.rendu and add search bar -->
<mat-card>
  <div>
    <mat-form-field>
      <mat-label>Rechercher</mat-label>
      <input
        matInput
        #search
        placeholder="Ex. Devoir 1"
        [(ngModel)]="searchText"
        (keyup)="applyFilter()"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <mat-select
        [(ngModel)]="filterRendu"
        name="filter"
        required
        (selectionChange)="applyFilter()"
      >
        <mat-option value="all">Tous</mat-option>
        <mat-option value="rendu">Rendu</mat-option>
        <mat-option value="nonRendu">Non rendu</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
<mat-table
  [dataSource]="datasource"
  matSort
  #agtTableSort="matSort"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header="title"
      >Titre</mat-header-cell
    >
    <mat-cell *matCellDef="let assignment">
      {{ assignment.title }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dueDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header="dueDate"
      >Pour le</mat-header-cell
    >
    <mat-cell *matCellDef="let assignment">
      {{ assignment.dueDate | date : "dd/MM/yyyy hh:mm" }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="submission">
    <mat-header-cell *matHeaderCellDef mat-sort-header="submission"
      >Rendu</mat-header-cell
    >
    <mat-cell *matCellDef="let assignment">
      {{ assignment.submission ? "Rendu" : "Non rendu" }}
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let assignment">
      <nav>
        <a
          mat-raised-button
          color="primary"
          [routerLink]="['/assignment', assignment.id]"
        >
          Détails
        </a>
      </nav>
    </mat-cell>
  </ng-container>
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator
  class="mat-paginator-sticky"
  #paginator
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons
></mat-paginator>
