<!-- Composant : Liste des devoirs a rendre -->
<!-- Description : Ce composant permet de lister les devoirs a rendre -->

<!-- Chargement-->
<mat-progress-bar
  *ngIf="isLoading"
  mode="indeterminate"
  class="progress-bar"
></mat-progress-bar>

<mat-card>
  <h1>Liste des devoirs a rendre</h1>
  <div>
    <!-- Filtre de recherche -->
    <mat-form-field>
      <mat-label>Rechercher</mat-label>
      <input
        matInput
        #search
        placeholder="Ex. Devoir 1"
        [(ngModel)]="filterOptions.searchText"
        (keyup)="applyFilter()"
      />
    </mat-form-field>
    <!-- Filtre de rendu -->
    <mat-form-field>
      <mat-label>Rendu</mat-label>
      <mat-select
        [(ngModel)]="filterOptions.submitFilter"
        name="filter"
        required
        (selectionChange)="applyFilter()"
      >
        <mat-option value="all">Tous</mat-option>
        <mat-option value="submit">Rendu</mat-option>
        <mat-option value="notSubmited">Non rendu</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>
<!-- Le tableau de devoirs -->
<mat-table
  [dataSource]="datasource"
  matSort
  #agtTableSort="matSort"
  class="mat-elevation-z8"
>
  <!-- Le titre -->
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header="title"
      >Titre</mat-header-cell
    >
    <mat-cell *matCellDef="let assignment">
      {{ assignment.title }}
    </mat-cell>
  </ng-container>
  <!-- La date de rendu -->
  <ng-container matColumnDef="dueDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header="dueDate"
      >Pour le</mat-header-cell
    >
    <mat-cell *matCellDef="let assignment">
      {{ assignment.dueDate | date : "dd/MM/yyyy hh:mm" }}
    </mat-cell>
  </ng-container>
  <!-- Le rendu avec une checkbox read only -->
  <ng-container matColumnDef="submission">
    <mat-header-cell *matHeaderCellDef mat-sort-header="submission"
      >Rendu</mat-header-cell
    >
    <mat-cell *matCellDef="let assignment">
      <mat-checkbox [checked]="assignment.submission" disabled></mat-checkbox>
    </mat-cell>
  </ng-container>
  <!-- Les actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
    <mat-cell *matCellDef="let assignment">
      <nav>
        <a
          mat-raised-button
          color="primary"
          [routerLink]="['/assignment', assignment.id]"
        >
          Détails
        </a>
      </nav>
    </mat-cell>
  </ng-container>
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
<mat-paginator
  class="mat-paginator-sticky"
  #paginator
  [pageSizeOptions]="[5, 10, 25, 100, 250]"
  showFirstLastButtons
></mat-paginator>
