<h1>Details :</h1>
<mat-card *ngIf="assignmentTarget">
  <mat-card-title>{{ assignmentTarget.title }}</mat-card-title>
  <mat-card-header>
    <mat-card-subtitle
      >{{ assignmentTarget.createdAt | date }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p><b>Description :</b> {{ assignmentTarget.description }}</p>
    <p *ngIf="assignmentTarget.updatedAt">
      <b>Mis a jour le :</b> {{ assignmentTarget.updatedAt }}
    </p>
    <img
      *ngIf="subjectImgPath"
      src="{{ subjectImgPath }}"
      width="100"
      height="100"
    />
    <p *ngIf="subject"><b>Matière :</b> {{ subject.name }}</p>
    <div *ngIf="teacherImgPath">
      <img src="{{ teacherImgPath }}" width="100" height="100" />
      <p>Professeur</p>
    </div>
    <p *ngIf="assignmentTarget.rating">
      <b>Remarques :</b> {{ assignmentTarget.rating.comment }}
    </p>
    <p *ngIf="assignmentTarget.rating && assignmentTarget.submission">
      <b>Note :</b> {{ assignmentTarget.rating.rating }}
    </p>
    <p>
      <b> Rendu :</b>
      {{ assignmentTarget.submission ? "Oui" : "Non" }}
    </p>
    <p>
      <b> Etat :</b>
      {{ isAssignmentLate ? "Retard" : "Dans les temps" }}
    </p>

    <p>
      <b> Temps restant :</b>
      {{ assignmentTimeRemaining }}
    </p>
  </mat-card-content>
  <!-- [disabled]="!isAdmin()" -->
  <div>
    <button mat-raised-button color="secondary" (click)="onEdit()">
      Modifier
    </button>
    <button mat-raised-button color="warn" (click)="onDelete()">
      Supprimer
    </button>
  </div>
</mat-card>

<mat-card color="warn" *ngIf="assignmentTarget === undefined">
  <h1>Oops, il a quitté notre monde.</h1>
</mat-card>
