<mat-card>
    <mat-card-title>S'inscrire</mat-card-title>
    <form ngForm #registerForm>
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Hanagames" name="nom" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Mot de passe</mat-label>
            <input matInput name="mdp" />
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Confirmer le mot de passe</mat-label>
            <input matInput name="mdp" />
        </mat-form-field>

        <button mat-raised-button color="primary">S'inscrire</button>
    </form>
</mat-card>