<div id="main">
  <mat-toolbar>
    <!-- Ouvre le side menu-->
    <button mat-icon-button (click)="sideMenuToggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- Titre/Bouton du site -->
    <button mat-button routerLink="" (click)="sideMenuClose()">
      <span>{{ title }}</span>
    </button>
    <!-- Bouton de connexion  -->
    <button
      *ngIf="!isUserLogged"
      mat-button
      routerLink="/connection"
      (click)="sideMenuClose()"
    >
      Connexion
    </button>
    <!-- Bouton d'inscription -->
    <button mat-button routerLink="/register" (click)="sideMenuClose()">
      S'inscrire
    </button>
    <!-- Bouton de deconnexion -->
    <button
      *ngIf="isUserLogged"
      mat-button
      routerLink=""
      (click)="sideMenuClose(); logout()"
    >
      Se deconnecter
    </button>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav [(opened)]="sideMenuOpened" (click)="sideMenuClose()">
      <!-- Le bouton de la liste des devoirs-->
      <button routerLink="/list" mat-button class="full-width">
        Liste des devoirs
      </button>
      <!-- Le bouton d'ajout de devoir -->
      <button mat-button class="full-width" routerLink="/add">
        Ajout d'un devoir
      </button>
      <!-- Le bouton de génération de données de test -->
      <button mat-button class="full-width" routerLink="/gen">
        Génération de données de test
      </button>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
