<!-- Create an expansion panel for an assignment it's for editing only the title-->
<form [formGroup]="editForm">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span> <strong> Titre </strong> - {{ assignment.title }}</span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>Titre</h2>
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input
          matInput
          placeholder="Titre"
          formControlName="titleCtrl"
          [(ngModel)]="assignment.title"
          name="title"
        />
      </mat-form-field>
      <mat-hint> Ex. Td4 </mat-hint>
      <p>Vous pouvez changer le titre du devoir</p>
    </mat-expansion-panel>
    <!-- Same for Description -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>
            <strong> Description </strong> - {{ descriptionPreview }}</span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>Description</h2>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Description"
          formControlName="descriptionCtrl"
          [(ngModel)]="assignment.description"
          name="description"
        />
      </mat-form-field>
      <mat-hint> Ex. Vous devez faire ca ! </mat-hint>
      <p>Vous pouvez changer la description du devoir</p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>
            <strong>Date de rendu</strong> -
            {{ assignment.dueDate | date : "dd/MM/yyyy" }}</span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>Date de rendu</h2>
      <mat-form-field>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="Choisissez une date et une heure"
          [(ngModel)]="assignment.dueDate"
          formControlName="dueDateCtrl"
          name="dueDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="$any(picker)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSpinners]="true"
          [showSeconds]="true"
          [stepHour]="1"
          [stepMinute]="1"
          [stepSecond]="1"
          [touchUi]="false"
        ></ngx-mat-datetime-picker>
      </mat-form-field>
      <mat-hint> Ex. 2020-12-31T23:59:59 </mat-hint>
      <p>Vous pouvez changer la date de rendu du devoir</p>
    </mat-expansion-panel>
    <!-- Same but for subject -->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span>
            <strong> Matière </strong> -
            {{ !selectedSubject ? "" : selectedSubject.name }}</span
          >
        </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>Matière</h2>
      <mat-form-field>
        <mat-label>Matière</mat-label>
        <mat-select
          #subjectInput
          formControlName="subjectCtrl"
          name="matiere"
          required
        >
          <mat-option *ngFor="let subject of subjects" [value]="subject">
            {{ subject.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-hint> Ex. Mathématiques </mat-hint>
      <p>Vous pouvez changer la matière du devoir</p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-card>
    <mat-card-title>{{ assignment.title }}</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button color="primary">Modifier</button>
    </mat-card-actions>
  </mat-card>
</form>
