/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  min-height: 100vh;
  min-width: 600px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Card */
mat-card.card-basic,
mat-accordion.card-basic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

mat-card.card-little {
  width: 300px;
  margin-top: 20px;
}

mat-card.card-medium {
  width: 50%;
  margin-top: 20px;
}

mat-card.card-big,
mat-accordion.card-big {
  max-width: 70%;
  width: 500px;
  margin-top: 20px;
}

mat-card.card-large {
  width: 80%;
  margin-top: 20px;
}

mat-card.card-giant {
  width: 90%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

mat-card-title.title-big {
  font-size: 30px;
  padding: 20px;
}

.table-center > tr > td:nth-child(2) {
  text-align: center;
}

.sameline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.space {
  padding: 5px;
}

.marginauto {
  margin: auto !important;
}

.fullwidth {
  width: 100% !important;
}

.attheend {
  margin-left: auto;
}

.center {
  text-align: center;
}

.space-little {
  padding: 10px;
}

/* SnackBar */
.error-snackbar {
  color: white;
  --mdc-snackbar-container-color: #ff7f7f;
}

.success-snackbar {
  color: white;
  --mdc-snackbar-container-color: #7fff7f;
}

/* File input */
.mat-input-element {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.mat-mdc-form-field-type-ngx-mat-file-input {
  width: 235px;
}

/* Loading */
mat-progress-bar.progress-bar {
  position: fixed;
  top: 64px;
  left: 0;
  z-index: 25000;
}

/* Calendar fixer */
ngx-mat-calendar-header
  > .mat-calendar-header
  > .mat-calendar-controls
  > .mat-calendar-period-button {
  background-color: #7b1fa2;
  color: white;
}

ngx-mat-calendar-header
  > .mat-calendar-header
  > .mat-calendar-controls
  > .mat-calendar-previous-button {
  background-color: #7b1fa2;
}

ngx-mat-calendar-header
  > .mat-calendar-header
  > .mat-calendar-controls
  > .mat-calendar-next-button {
  background-color: #7b1fa2;
}

.ngx-mat-timepicker-table
  > .ngx-mat-timepicker-tbody
  > .ng-star-inserted
  > td
  > .mat-focus-indicator {
  background-color: #7b1fa2;
  color: white;
}

ngx-mat-datetime-content > .actions > button {
  background-color: #7b1fa2;
  color: white;
}

/* Fix file input */
ngx-mat-file-input > .mat-form-field-suffix > button {
  background-color: #7b1fa2;
  color: white;
}

ngx-mat-file-input > input:nth-child(1) {
  color: white;
}

/* Chips space */
.chipsline {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
}

.chipsline > mat-chip-listbox {
  padding-left: 8px;
}
