<mat-card *ngFor="let assignment of assignments">
  <mat-card-header>
    <mat-card-title>{{ assignment.title }}</mat-card-title>
    <mat-card-subtitle>{{ assignment.dueDate | date }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="assignment.submission; else nonsoumis">Devoir rendu</p>
    <ng-template #nonsoumis> Devoir non rendu </ng-template>
    <p>Id : {{ assignment._id }}</p>
  </mat-card-content>
  <button
    mat-raised-button
    color="primary"
    routerLink="/detail/{{ assignment._id }}"
  >
    Détails
  </button>
</mat-card>

<mat-card color="warn" *ngIf="assignments.length === 0">
  <h1>Il n'y a pas de devoir a afficher !</h1>
</mat-card>
